body {
	margin: 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	font-family: Roboto;
	color: white;
	overflow-y: auto;
	background-image: url(assets/back.png);
	background-repeat: no-repeat;
	background-position: center top;
	background-attachment: fixed;
}

.flexable {
	display: flex;
}


.inner {
	width: 1200px;
}

.row {
	align-items: center;
	flex-direction: row;
}

.column{
	flex-direction: column;
}

.flex {
	flex: 1;
}

.topbar {
	height: 86px;
	background-color: rgba(0,114,188,0.75);
	box-shadow: 0px 3px 5.88px 1.12px rgba(0, 0, 0, 0.42);
	flex-direction: row;
	justify-content: center;
}

.logo {
	width: 129px;
	height: 86px;
	background-image: url(assets/logo.png);
	background-repeat: no-repeat;
	background-position: center center;
	opacity: 0.75;
}

.title {
	margin-left: 15px;
	font-size: 36px;
	font-weight: bold;
}

.menu-item {
	margin-left: 30px;
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 24px;
}

.content {
	flex-direction: column;
	align-items: center;
	margin-top: 60px;
}

.streams {
	background-color: rgba(0,114,188,0.75);
	height: 600px;
	flex: 1;
	flex-direction: column;
	padding: 10px;
}

.streams-top {
	height: 50px;
	flex-direction: row;
	align-items: flex-end;
}

.streams-center {
	height: 550px;
	background-color: black;
}

.watch-on {
	display: flex;
	padding: 0 20px 0 20px;
	height: 50px;
	align-items: center;
	cursor: pointer;
	user-select: none;
	text-decoration: none;
	color: white;
}

.watch-on:hover:not(.selected) {
	background-color: rgba(0,114,188,1);
}

.stream-tab {
	padding: 0 20px 0 20px;
	height: 50px;
	align-items: center;
	cursor: pointer;
	user-select: none;
}

.stream-tab:hover:not(.selected) {
	background-color: rgba(0,114,188,1);
}

.selected {
	background-color: rgba(0,0,0,0.50);
}

.icon {
	background-repeat: no-repeat;
	background-position: center center;
	width: 40px;
	height: 40px;
}

.twitch {
	margin-left: 60px;
	background-image: url(assets/twitch.png);
}

.twitch:hover {
	background-image: url(assets/twitch_hover.png);
}

.twitter {
	margin-left: 30px;
	background-image: url(assets/twitter.png);
}

.twitter:hover {
	background-image: url(assets/twitter_hover.png);
}

.youtube {
	margin-left: 30px;
	background-image: url(assets/youtube.png);
}

.youtube:hover {
	background-image: url(assets/youtube_hover.png);
}

.discord {
	margin-left: 30px;
	background-image: url(assets/discord.png);
}

.discord:hover {
	background-image: url(assets/discord_hover.png);
}

.footer {
	margin-top: 60px;
	height: 40px;
	align-items: center;
	flex-direction: column;
}

.footer .inner {
	height: 40px;
	border-top: 1px solid rgba(0,0,0,0.25);
	font-weight: bold;
	text-transform: uppercase;
	font-size: 14px;
	align-items: center;
	color:rgba(0,0,0,0.5);
}


/*Calendar*/

.schedule{
	background-color: rgba(0,114,188,0.75);
	height: 600px;
	flex: 1;
	flex-direction: column;
	padding: 10px;
}

.calendar {
	width: 853px;
	height: 600px;
	flex-direction: column;
}

.fc-today {
	background-color: rgba(0,0,0,0.25) !important;
}