<script type="text/javascript" src="desktop.js" defer></script>
<div class="topbar flexable">
		<div class="inner row flexable">
			<div class="logo flexable"></div>
			<span class="title">Bwana</span>
			<a href="https://twitch.tv/bwana" class="twitch icon"></a>
			<a href="https://twitter.com/bwana" class="twitter icon"></a>
			<a href="https://youtube.com/c/bwana" class="youtube icon"></a>
			<a href="http://discord.gg/bwana" class="discord icon"></a>
			<div class="flex flexable"></div>
			<a href="https://www.speq.me/bwana/" class="menu-item flexable">Schedule</a>
			<!-- <div class="menu-item flexable" data-hash="" data-title="Bwana">Home</div> -->
			<!-- <div class="menu-item flexable" data-hash="schedule" data-title="Schedule - Bwana">Schedule</div> -->
		</div>
	</div>
	<div class="content flexable">
		<div class="inner column flexable">
			<div class="streams flexable">
				<div class="streams-top flexable">
					<div class="stream-tab selected flexable" data="twitch">Twitch</div>
					<div class="stream-tab flexable" data="mixer">Mixer</div>
					<div class="stream-tab flexable" data="youtube">YouTube</div>
					<div class="flex flexable"></div>
					<a href="http://twitch.tv/bwana" class="watch-on">Watch on&nbsp;<span class="service">Twitch</span></a>
				</div>
				<div class="streams-center flexable">
					<iframe class="stream-embed" src="https://player.twitch.tv/?channel=bwana" frameborder="0" allowfullscreen="true" scrolling="no" height="550" width="853"></iframe>
					<iframe frameborder="0" scrolling="no" class="chat-embed" src="http://www.twitch.tv/bwana/chat" height="550" width="350"></iframe>
				</div>
			</div>
		</div>
	</div>
	<div class="footer flexable">
		<div class="inner flexable">
				&copy;&nbsp;Bwana, 2017
		</div>
	</div>