<script type="text/javascript" src="mobile.js" defer></script>
<div class="page">
	<div class="topbar flexible">
			<div class="logo flexible"></div>
	</div>
	<div class="content flexible">
			<iframe class="stream-embed" src="https://player.twitch.tv/?channel=bwana" frameborder="0" scrolling="no"></iframe>
			<a href="http://twitch.tv/bwana" class="watch-on button flexible">Watch on&nbsp;<span class="service">Twitch</span></a>
			<div class="stream-button button flexible selected" data="twitch">Twitch</div>
			<div class="stream-button button flexible" data="mixer">Mixer</div>
			<div class="stream-button button flexible" data="youtube">Youtube</div>
	</div>
</div>