body {
	font-family: Roboto;
}

/*Phone Portrait*/
@media only screen and (max-device-width: 480px) and (orientation: portrait) {
	body {
		margin: 0;
		color: white;
		background-image: url(assets/back.png);
		background-repeat: no-repeat;
		background-position: center top;
		background-attachment: fixed;
	}
	
	.flexible {
		display: flex;
	}

	.page {
		overflow: hidden;
	}

	.topbar {
		height: 40px;
		background-color: rgba(0,114,188,0.75);
		/*box-shadow: 0px 3px 5.88px 1.12px rgba(0, 0, 0, 0.42);*/
		flex-direction: row;
		justify-content: center;
	}

	.logo {
		width: 69px;
		height: 40px;
		background-image: url(assets/logo.png);
		background-repeat: no-repeat;
		background-position: center center;
		background-size: 85%;
		opacity: 0.75;
	}

	.content {
		width: 100%;
		height: calc(100% - 40px);
		flex-direction: column;
	}

	.stream-embed {
		width: 100%;
		height: 40%;
	}

	.button {
		width: 80%;
		height: 40px;
		margin: 20px auto 0 auto;
		background-color: #e1e1e1;
		color: #1a1a1a;
		align-items: center;
		justify-content: center;
		text-decoration: none;
	}

	.button[data="twitch"]{
		color: #6441A4;
		border: solid 2px #6441A4;
	}

	.button[data="beam"]{
		color: #4D90F4;
		border: solid 2px #4D90F4;
	}

	.button[data="youtube"]{
		color: #e52d27;
		border: solid 2px #e52d27;
	}

	.watch-on {
		border: solid 2px #1a1a1a;
	}
}

/*Phone Landscape*/

@media only screen and (max-device-width: 750px) and (orientation: landscape) {

	body {
		margin: 0;
		color: white;
		background-image: url(assets/back.png);
		background-repeat: no-repeat;
		background-position: center top;
		background-attachment: fixed;
	}
	
	.flexible {
		display: flex;
	}

	.page {
		overflow: hidden;
	}

	.topbar {
		display: none;

	}

	.content {
		width: 100%;
		height: 100%;
		flex-direction: column;
	}

	.stream-embed {
		width: 100%;
		height: 100%;
	}

	.button{
		display: none;
	}
}

/*Tablet Landscape*/

@media only screen and (min-device-width: 1024px) and (orientation: landscape) {
	body {
		margin: 0;
		color: white;
		background-image: url(assets/back.png);
		background-repeat: no-repeat;
		background-position: center top;
		background-attachment: fixed;
	}
	
	.flexible {
		display: flex;
	}

	.page {
		overflow: hidden;
	}

	.topbar {
		display: none;

	}

	.content {
		width: 100%;
		height: 100%;
		flex-direction: column;
	}

	.stream-embed {
		width: 100%;
		height: 100%;
	}

	.button {
		display: none;
	}
}

/*Tablet Portrait*/

@media only screen and (min-device-width: 768px) and (orientation: portrait) {
	body {
		margin: 0;
		color: white;
		background-image: url(assets/back.png);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center top;
		background-attachment: fixed;
	}
	
	.flexible {
		display: flex;
	}

	.page {
		overflow: hidden;
	}

	.topbar {
		height: 80px;
		background-color: rgba(0,114,188,0.75);
		/*box-shadow: 0px 3px 5.88px 1.12px rgba(0, 0, 0, 0.42);*/
		flex-direction: row;
		justify-content: center;
	}

	.logo {
		width: 120px;
		height: 80px;
		background-image: url(assets/logo.png);
		background-repeat: no-repeat;
		background-position: center center;
		background-size: 100%;
		opacity: 0.75;
	}

	.content {
		width: 100%;
		height: calc(100% - 40px);
		flex-direction: column;
	}

	.stream-embed {
		width: 100%;
		height: 40%;
	}

	.button {
		width: 80%;
		height: 40px;
		margin: 20px auto 0 auto;
		background-color: #e1e1e1;
		color: #1a1a1a;
		align-items: center;
		justify-content: center;
		text-decoration: none;
	}

	.button[data="twitch"]{
		color: #6441A4;
		border: solid 2px #6441A4;
	}

	.button[data="beam"]{
		color: #4D90F4;
		border: solid 2px #4D90F4;
	}

	.button[data="youtube"]{
		color: #e52d27;
		border: solid 2px #e52d27;
	}

	.watch-on {
		border: solid 2px #1a1a1a;
	}
}